<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{Layout/Layout}">
<head>
<meta charset="utf-8" />
<title>新規登録ページ</title>
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"></link>
    <script th:src="@{/webjars/jquery/2.0.3/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
    <div layout:fragment="contents">
    			<div class="title">
				<h2>ユーザー情報</h2>
			</div>
			<br>
	<div class="container">
		<div class="card card-primary mb-3">
	  			<form th:method="put" th:action="@{/user_info/{username}(username=*{username})}" th:object="${user_info}"> 
	  			<table class="table table-bordered">
  <!--  入力項目 -->        
                  <thead>
                      <tr>          
                       <th scope="row">入力項目</th>
                       <th scope="col">入力欄</th>
                      </tr>
                  </thead>
                 <tbody>
 <!--  ID入力フォーム  Model名＝username -->           
                   <tr>
                     <th scope="row"><span class="label label-danger">必須</span><label class="col-md-6 control-label">ユーザーID</label></th>
                   <td>
                     <div class="form-group row">                    
                         <div class="col-md-8">
                          <input class="form-control" type="text" name="username" th:value="*{username}"placeholder="ユーザーID"/>
                          <div class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
                         </div>
                    </div>
                   </td>
<!--  利用者名入力フォーム Model名＝owner  -->
                   <tr>
                     <th scope="row"><span class="label label-danger">必須</span><label class="col-md-6 control-label">区分所有者名</label></th>
                   <td>                                     
                     <div class="form-group row">                      
                      <div class="col-md-6">
                         <input class="form-control" type="text" name="owner" th:value="*{owner}"placeholder="区分所有者名"/>
                         <div class="text-danger" th:if="${#fields.hasErrors('owner')}" th:errors="*{owner}"></div>
                      </div>
                     </div>                   
<!--  利用者名入力フォーム Model名＝owner  -->      
                    <tr>
                     <th scope="row"><span class="label label-danger">必須</span><label class="col-md-6 control-label">勤務先会社名</label></th>
                   <td>                   
                     <div class="form-group row">                   
                        <div class="col-sm-10">
                          <input class="form-control" type="text" name="address" th:value="*{address}"placeholder="勤務先"/>
                          <div class="text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></div>
                        </div>
                    </div>                                           
<!--  利用者名入力フォーム Model名＝owner  -->      
                    <tr>
                     <th scope="row"><span class="label label-danger">必須</span><label class="col-md-6 control-label">勤務先住所</label></th>
                   <td>                   
                     <div class="form-group row">                   
                        <div class="col-sm-10">
                          <input class="form-control" type="text" name="workspace" th:value="*{workspace}"placeholder="勤務先"/>
                          <div class="text-danger" th:if="${#fields.hasErrors('workspace')}" th:errors="*{workspace}"></div>
                        </div>
                    </div>            
<!--  利用者名入力フォーム Model名＝owner  -->   
                    <tr>
                     <th scope="row"><span class="label label-danger">必須</span><label class="col-md-6 control-label">メールアドレス</label></th>
                   <td>               
                    <div class="form-group row">                      
                        <div class="col-sm-10">
                          <input class="form-control" type="text" name="mailaddress" th:value="*{mailaddress}"placeholder="メールアドレス"/>
                          <div class="text-danger" th:if="${#fields.hasErrors('mailaddress')}" th:errors="*{mailaddress}"></div>
                        </div>
                    </div>    
<!--  利用者名入力フォーム Model名＝owner  -->      
                    <tr>
                     <th scope="row"><span class="label label-primary">任意</span><label class="col-md-6 control-label">備考</label></th>
                   <td>              
                    <div class="form-group row">                   
                        <div class="col-sm-10">
                          <input class="form-control" type="text" name="information" th:value="*{information}"placeholder="備考"/>
                          <div class="text-danger" th:if="${#fields.hasErrors('information')}" th:errors="*{information}"></div>
                        </div>
                   </div>   
                     
                
<!--  利用予定人数入力フォーム Model名＝people  -->    
                    <tr>
                     <th scope="row"><span class="label label-danger">必須</span><label class="col-md-6 control-label">電話番号</label></th>
                   <td>                  
                    <div class="form-group row">                    
                        <div class="col-md-8">
                          <input class="form-control" type="text" name="phone" th:value="*{phone}" placeholder="電話番号"/>
                          <div class="text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>
                        </div>
                   </div>            
                
                </tbody>
                </table>            
                
                
	        		<div class="form-group row">
	          			<div class="offset-md-2 col-md-9">
	            			<button class="btn btn-primary">更新</button>
	            		</div>
	          		</div>
	          </form>
	      </div>
		</div>
	</div>
</body>
</html>