<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.meeting.admin.AdminMeetingMapper">
	<select id="findAll" resultType="com.example.demo.domain.Meeting.Meeting">select*from meeting_info </select>
	
	<select id="selectOne" resultType="com.example.demo.domain.Meeting.Meeting" >select*from meeting_info where id= #{id} </select>
	
	<insert id="insert" keyProperty="id" useGeneratedKeys="true">insert into meeting_info(roomid,username,people,owner,title,start,end,remarks,admin_comment) values(#{roomid}, #{username}, #{people},#{owner},#{title},#{start},#{end},#{remarks},#{admin_comment})</insert>
	
	<update id="update">update meeting_info set roomid=#{roomid}, username=#{username}, start=#{start},end=#{end},people=#{people}, owner=#{owner}, title=#{title},remarks=#{remarks},admin_comment=#{admin_comment} where id= #{id}</update>
	
	<delete id="delete">delete from meeting_info where id = #{id}</delete>
</mapper>

